{% extends 'templates/app.twig' %}

{% block title %}Home{% endblock %}

{% block bodyTags %}hold-transition skin-blue sidebar-collapse sidebar-mini{% endblock %}

{% block contents %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Home Page
                <small>This is your home page</small>
            </h1>
            <!--GUIDANCE MAPPER (TOP RIGHT)-->
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Home</li>
            </ol>
            <!--END OF GUIDANCE MAPPER-->
        </section>

        <!-- Main content -->
        <section class="content">

            Home Page

            <br/>
            <a href="{{ path_for('auth.new.applicant') }}">New Applicant</a>

            <br/>
            <a href="{{ path_for('auth.new.employee') }}">New Employee</a>

        </section>
        <!-- /.content -->
    </div>
{% endblock %}
